
@using Orc.SuperchargedReact.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var model = ViewBag.Model;
}

<html>
<head>
    <title>React Example</title>

</head>
<body>
    @Model.Name @Model.Id
</body>
</html>